{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Bird Academy</title>
    <link rel="stylesheet" href="{% static 'application/style.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <main>
        <img id='logo' src="{% static 'application/images/logo_transparant.png' %}" alt="Logo Bird Academy" />
        {% block content %}{% endblock  %}
        {% block extra_js %}{% endblock %}
    </main>
</body>
</html>